<!doctype html>
<html>
  <head>
    <title>Books to read on Goodreads</title>
    <meta charset="utf-8">
    <meta name="generator" content="what2read - https://github.com/agorf/what2read">
    <style>
      body { font-family: sans-serif; }
      a img { border: none; display: block; }
      .align-center { text-align: center; }
      .align-right { text-align: right; }
      table { border-spacing: 0; }
      td { padding: 4px; }
      .odd td { background: #ddd; }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Authors</th>
        <th>Pages</th>
        <th>Score</th>
        <th>Average Rating</th>
        <th>Ratings</th>
      </tr>
      <% books.each.with_index(1) do |book, rank| %>
        <tr class="<%= rank % 2 == 0 ? 'even' : 'odd' %>">
          <td class="align-center"><%= rank %></td>
          <td>
            <a href="<%= book.link %>"><img <%= rank > 20 ? 'data-normal' : 'src' %>="<%= book.cover_url %>" alt="cover" width="43"></a>
          </td>
          <td><a href="<%= book.link %>"><%= book.title %></a></td>
          <td>
            <% book.authors.each do |author| %>
              <a href="<%= author.link %>"><%= author.name %></a>
            <% end %>
          </td>
          <td class="align-center"><%= book.pages %></td>
          <td class="align-center"><%= '%.2f' % book.score if book.score > 0 %></td>
          <td class="align-center"><%= '%.2f' % book.average_rating %></td>
          <td class="align-right"><%= book.ratings_count %></td>
        </tr>
      <% end %>
      <script src="https://unpkg.com/layzr.js@2.2.2/dist/layzr.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function(event) {
          Layzr().update().check().handlers(true)
        })
      </script>
    </table>
  </body>
</html>
