<!doctype html>
<html>
  <head>
    <title>Books to read on Goodreads</title>
    <meta charset="utf-8">
    <meta name="generator" content="what2read - https://github.com/agorf/what2read">
    <style>
      body { font-family: sans-serif; font-size: 13px; }
      a img { border: none; display: block; }
      .align-center { text-align: center; }
      .align-right { text-align: right; }
      table { border-spacing: 0; width: 100%; }
      th, td { padding: 4px; border-bottom: 1px solid #ccc; }
      th { text-align: left; cursor: pointer; }
      th.cover { cursor: auto; }
    </style>
  </head>
  <body>
    <table id="books">
      <thead>
        <tr>
          <th class="align-center">#</th>
          <th class="cover"></th>
          <th>Title</th>
          <th>Authors</th>
          <th>ISBN</th>
          <th>Pages</th>
          <th>Score</th>
          <th>Rating</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each_with_index do |book, rank| %>
          <tr>
            <td class="align-center"><%= rank + 1 %></td>
            <td>
              <a href="<%= book.link %>"><img <%= rank > 20 ? 'data-normal' : 'src' %>="<%= book.cover_path %>" alt="cover" width="43"></a>
            </td>
            <td><a href="<%= book.link %>"><%= book.title %></a></td>
            <td>
              <% book.authors.each do |author| %>
                <a href="<%= author.link %>"><%= author.name %></a>
              <% end %>
            </td>
            <td>
              <% if book.isbn %>
                <a href="https://en.wikipedia.org/wiki/Special:BookSources/<%= book.isbn %>"><%= book.isbn %></a>
              <% end %>
            </td>
            <td class="align-center"><%= book.pages %></td>
            <td class="align-center"><%= '%.2f' % book.score if book.score > 0 %></td>
            <td class="align-center"><%= '%.2f' % book.rating %></td>
            <td class="align-right"><%= book.ratings %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script src="https://unpkg.com/layzr.js@2.2.2/dist/layzr.js"></script>
    <script src="https://unpkg.com/tablesort@5.0.0/tablesort.min.js"></script>
    <script src="https://unpkg.com/tablesort@5.0.0/src/sorts/tablesort.number.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        var layzr = Layzr();

        layzr.update().check().handlers(true);

        var table = document.getElementById('books');

        table.addEventListener('afterSort', function() {
          layzr.check();
        });

        new Tablesort(table);
      });
    </script>
  </body>
</html>
