<!doctype html>
<html>
  <head>
    <title>Books to read on Goodreads</title>
    <meta charset="utf-8">
    <meta name="generator" content="what2read - https://github.com/agorf/what2read">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <table id="books">
      <thead>
        <tr>
          <th class="align-center">#</th>
          <th class="cover"></th>
          <% %w{Title Authors ISBN Pages Score Rating Ratings}.each do |column| %>
            <th class="<%= column_order_class(column) %>">
              <a href="?<%= params_to_query('order_by' => column.downcase, 'order' => column_order(column.downcase)) %>"><%= column %></a>
            </th>
          <% end %>
          <% if @shelf.nil? %>
            <th>Shelves</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @books.each_with_index do |book, rank| %>
          <tr>
            <td class="align-center"><%= rank + 1 %></td>
            <td>
              <a href="<%= book.link %>"><img <%= rank > 20 ? 'data-normal' : 'src' %>="<%= book.cover_path %>" alt="cover" width="43"></a>
            </td>
            <td><a href="<%= book.link %>"><%= book.title %></a></td>
            <td>
              <% book.authors.each do |author| %>
                <a href="<%= author.link %>"><%= author.name %></a>
              <% end %>
            </td>
            <td>
              <% if book.isbn %>
                <a href="https://en.wikipedia.org/wiki/Special:BookSources/<%= book.isbn %>"><%= book.isbn %></a>
              <% end %>
            </td>
            <td class="align-center"><%= book.pages %></td>
            <td class="align-center"><%= '%.2f' % book.score if book.score > 0 %></td>
            <td class="align-center"><%= '%.2f' % book.rating %></td>
            <td class="align-right"><%= book.ratings %></td>
            <% if @shelf.nil? %>
              <td>
                <% book.shelves.sort_by(&:name).each do |shelf| %>
                  <a href="?<%= params_to_query('shelf' => shelf.name) %>"><%= shelf.name %></a><br>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script src="https://unpkg.com/layzr.js@2.2.2/dist/layzr.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        Layzr().update().check().handlers(true);
      });
    </script>
  </body>
</html>
